.chatroom {
    border: 2px solid gray;
    display: grid;
    height: 100%;
    grid-template-rows: 8% 84% 8%;
    padding: 1%;
    overflow: hidden;
}

.chatroom-info {
    border: 1px solid gray;
    display: grid;
    grid-template-columns: 10% 60% 20%;
}

.chatroom-name-wrapper {
    border: 1px solid red;
    display: grid;
    padding: 0%;
}

.chatroom-name{
    border: 1px solid gray;
}

.activity-status {
    border: 1px solid gray;
}

.messages-window {
    border: 1px solid gray;
    overflow: scroll;
}

.message-input-window{
    border: 1px solid gray;
}
