.form-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--windowbgcolor); /* Using one of the lightest colors */
}

.form {
    background-color: var(--bgcolor); /* Darker color for the form */
    border-radius: 10px;
    box-shadow: 10px 9px 10px 10px var(--containershadow);
    padding: 20px;
    width: 300px;
    height: 200px;
    text-align: center;
}

.form label {
    color: white;
    display: block;
    font-size: 1.5em;
    margin-bottom: 8px;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10%;
    box-sizing: border-box;
    border: 1px solid #468FAF;
    border-radius: 5px;
    outline: none;
}

.form input::placeholder {
    color: gray;
}

.form button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #01497C;
    color: #fff;
    cursor: pointer;
}

.form button:hover {
    background-color: #2A6F97;
}