.container {
  border: 3px solid grey;
  height: 70vh;
  width: 65%;
  display: grid;
  grid-template-columns: 25% 74%;
  padding: 1%;
  gap: 1%;
}


.sidebar {
  border: 2px solid grey;
  display: grid;
  grid-template-rows: 20% 75%;
  gap: 2%;
  padding: 2%;
}

.user-info {
  border: 1px solid grey;
  display: grid;
  grid-template-columns: 30% 65%;
  align-items: center;
  gap: 4%;
  padding: 4%;
}

.user-avatar{
  border: 1px solid grey;
  height: 60%;
  overflow: hidden;
}

.user-phone-number {
  border: 1px solid grey;
  height: 50%;
  display: grid;
  align-items: center;
  overflow: hidden;
}

.chatrooms-list {
  border: 1px solid grey;
  display: grid;
  gap: 3%;
  grid-template-rows: 5em auto;
}

.chatroom-list-item {
    border: 1px solid gray;
}
.chatroom{
  border: 2px solid grey;
}