:root {
  --bgcolor: #081C15;
  --panelcolor: #112a1f;
  --listbgcolor: #112a1f;
  --windowbgcolor:  #D8F3DC;
  --containershadow: #95D5B2;
  --listitembgcolor: #52796F;
  --listitembgcolorfocus: #354f52;
  --msginputborderfocus: #40916C;
  --sendmsgbtnbgcolor: rgba(45,106,79);
  --sendmsgbtnbgcolorhover: #52B788;

  --faiconcolor: #D8F3DC;
  --faiconcolorhover: #52B788;
}

.container-wrapper {
  height: 100vh;
  width: auto;
  background-color: var(--windowbgcolor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 1px solid var(--bgcolor);
  border-radius: 10px;
  background-color: var(--bgcolor);
  box-shadow: 10px 9px 10px 10px var(--containershadow);
  height: 80%;
  width: 65%;
  display: grid;
  grid-template-columns: 28% 72%;
  padding: 1%;
  gap: 1%;
}


.sidebar {
  display: grid;
  grid-template-rows: 9% 87%;
  gap: 2%;
  padding: 2%;
  overflow: hidden;
}

.user-info {
  border: 1px solid var(--panelcolor);
  border-radius: 10px;
  background-color: var(--panelcolor);
  color: white;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  gap: 4%;
  padding: 0% 5%;
}


.user-self-avatar{
  height: 30px;
}

.user-options-wrapper {
  /*
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow: hidden;
}

.chatrooms-list {
  border-radius: 10px;
  background-color: var(--listbgcolor);
  overflow: hidden;
  height: 100%;
  padding: 2%;
}

.chatrooms-list-scroll-content {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: content-box;
}



.add-contact-modal-hidden {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.add-contact-modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.close-add-contact-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.overlay-hidden {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}


.chatrooms-list-scroll-content::-webkit-scrollbar {
  position: relative;
  display: none; 
}

/*
.chatrooms-list-scroll-content::-webkit-scrollbar-thumb {
  background-color: #ffffff; 
  border-radius: 6px; 
}

.chatrooms-list-scroll-content::-webkit-scrollbar-track {
  background-color: #ffffff; 
  border-radius: 6px; 
}
*/


.chatroom-list-item {
    color: white;
    border-radius: 0px;
    height: 3.5em;
    max-height: 3.5em;
    margin-bottom: 0.5em;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    overflow: hidden;
}

.chatroom-list-item:hover {
    background-color: var(--listitembgcolorfocus);
    border-radius: 10px;
    color: white;
    border-radius: 0px;
    height: 3.5em;
    max-height: 3.5em;
    margin-bottom: 0.5em;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    overflow: hidden;
}

.chatroom-list-item-selected {
    border-radius: 10px;
    background-color: var(--listitembgcolorfocus);
    color: white;
    border-radius: 0px;
    height: 3.5em;
    max-height: 3.5em;
    margin-bottom: 0.5em;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    overflow: hidden;
}


.chatroom-list-item-avatar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatroom-list-item-avatar {
  height: 30px;
  object-fit: cover;
  display: block; /* Remove extra space below inline images */
  border-radius: 100%;
}

.chatroom-list-item-name-message-wrapper {
  overflow: hidden;
  padding: 2%;
}

.chatroom-list-item-name {
  font-size: 14px;
  height: 50%;
}

.chatroom-list-item-lastmessage {
  height: 50%;
}

.chatroom{
}