
.message {
    clear: both;
    font-size: 1em;
    padding: 1%;
    margin: 2%;
    border-radius: 5px;
    max-width: 40%;
}

.message.left {
    float: left;
    background-color: #e0e0e0;
}

.message.right {
    float: right;
    background-color: #4CAF50;
    color: white;
}