
.message {
    clear: both;
    font-size: 1em;
    padding: 1%;
    margin: 2%;
    border-radius: 5px;
    max-width: 40%;
}

.message.left {
    float: left;
    background-color: #D8F3DC;
    border-radius: 15px 15px 15px 0px;
}

.message.right {
    float: right;
    background-color: #52B788;
    color: white;
    border-radius: 15px 15px 0px 15px;
}