
.message {
    clear: both;
    font-size: 1em;
    padding: 1%;
    margin: 2%;
    border-radius: 5px;
    max-width: 40%;
}

.message.left {
    font-family: 'Courier New', Courier, monospace;
    font-size: .9em;
    float: left;
    background-color: #e0faff;
    border-radius: 15px 15px 15px 0px;
}

.message.right {
    font-family:'Courier New', Courier, monospace;
    font-size: .9em;
    float: right;
    background-color: #2A6F97;
    color: white;
    border-radius: 15px 15px 0px 15px;
}