.add-contact-modal{
    background-color: var(--bgcolor);
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    height: 40vh;
    width: 15%;
}

.add-contact-form{
    display: grid;
    grid-template-rows: 80% 20%;
}

.add-contact-heading{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    margin-bottom: 10%;
}

.form-input-review-wrapper{
}

.chat-btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-input-label{
    display: block;
    margin-bottom: 10%;
}

.phone-input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10%;
    box-sizing: border-box;
    border: 1px solid #468FAF;
    border-radius: 5px;
    outline: none;
}

.phone-input:focus{
    outline: none;
    background-color: #CED4DA;
}

.chat-btn:disabled{
    height: 2.5em;
    width: 6em;
    border-radius: 15px;
}

.chat-btn:enabled {
    width: 6em;
    height: 2.5em;
    border: 2px solid var(--sendmsgbtnbgcolor); 
    background: var(--sendmsgbtnbgcolor); 
    color: white;
    border-radius: 15px;
}

