
.fa-user-options-icon{
    font-size: 1.5em;
    color: var(--faiconcolor);
    margin-right: 10%;
}

.fa-user-options-icon:hover {
    font-size: 1.5em;
    color: var(--faiconcolorhover);
    margin-right: 10%;
}



.show-add-contact-modal {
  position:sticky;
  bottom: 0;
  float: right;
  color: var(--faiconcolor);
  font-size: 2em;
  margin: 2%;
}

.show-add-contact-modal:hover {
  position:sticky;
  bottom: 0;
  float: right;
  color: var(--faiconcolorhover);
  font-size: 2em;
  margin: 2%;
}

.add-contact-modal{
    background-color: var(--bgcolor);
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    height: 40vh;
}

.add-contact-form{
    display: grid;
    grid-template-rows: 80% 20%;
}

.add-contact-heading{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    margin-bottom: 10%;
}

.form-input-review-wrapper{
}

.chat-btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-input-label{
    display: block;
    margin-bottom: 10%;
}

.phone-input{
    display: block;
    background-color: #E9ECEF;
    border: none;
    height: 2.5em;
    margin-bottom: 10%;
}

.phone-input:focus{
    outline: none;
    background-color: #CED4DA;
}

.chat-btn:disabled{
    height: 2.5em;
    width: 6em;
    border-radius: 15px;
}

.chat-btn:enabled {
    width: 6em;
    height: 2.5em;
    border: 2px solid var(--sendmsgbtnbgcolor); 
    background: var(--sendmsgbtnbgcolor); 
    color: white;
    border-radius: 15px;
}



