
.fa-user-options-icon{
    font-size: 1.5em;
    color: var(--faiconcolor);
    margin-right: 10%;
}

.fa-user-options-icon:hover {
    font-size: 1.5em;
    color: var(--faiconcolorhover);
    margin-right: 10%;
}



.show-add-contact-modal {
  position:sticky;
  bottom: 0;
  float: right;
  color: var(--faiconcolor);
  font-size: 2em;
  margin: 2%;
}

.show-add-contact-modal:hover {
  position:sticky;
  bottom: 0;
  float: right;
  color: var(--faiconcolorhover);
  font-size: 2em;
  margin: 2%;
}



